.row{
    width: 100%;
    display: flex;
    margin: 0%;
    padding-top: 5%;
}


.cell{
    flex: 1;
    margin-bottom: 5%;
    align-content: center;
    display: flex;
    padding-left: 10%;
}


.title{
    font-family: Verdana, sans-serif;
    color: red;
    font-weight: bold;
}

.list{
    padding-left: 40px;
    width: 100%;
}

.element{
    font-family: DejaVu-sans, sans-serif;
    color: blue;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

.link{
    color: blue;
}

@media screen and (max-width: 768px){
    .row{
        display: inline-block;
    }

    .cell{
        flex: none;
        width: 100%;
    }
    
    .list{
        padding: 0px;
    }

}
