body {
    background-color: blue;
    margin: 0px;
}

.contentContainer {
    width:80%;
    max-width: 1800px;
    margin: auto;
}

header{
    max-width: 100%;
    min-width: 100%;
    padding: 0px;
    margin: 1px;
}

#HomeLogo{
    top: 0px;
    left: 0px;
    bottom: 0px;
    vertical-align: bottom;
}


#mainNav {
    background-color: deepskyblue;
    width:100%;
    padding-top: 5px;
    margin: 1px;
    overflow: auto;
}

#LandmarksWest{
    float: left;
}

#LandmarksEast{
    float: right;
}

#LandmarksNorthEast{
    float: right;
}


/*This is applied to the <a> element in the lists of landmarks*/
.Landmark{
    display: inline-block;
    background-color: white;
    color: black;
    font-family: DejaVu-Sans Verdana sans-serif;
    font-size: 16 rem;
    padding: 4px;
    border: 1px rgb(50,50,70) solid;
}

.Landmark:hover{
    border: 1px rgb(100,100,250) solid;
    font-weight: bold;
    text-decoration: none;
}

/*IF USING THE BOOTSTRAP NAVBAR SYSTEM, THE NEXT 3 STYLES WILL BE APPLIED:*/
/*This one refers to the same <a> elements. It is necessary to override the default Bootstrap properties.*/
.navbar-nav li a{
  line-height: 1.3;
  color: black;
  padding: 5px 5px;
}


.navbar-default {
    background-color: aqua;
}

.navbar{
   min-height: 10px;/*This overrides the basic setting in Bootstrap, that is 50px*/
}


h1,h2,h3 {
    font-family: DejaVu-Sans Verdana sans-serif;
}

h1 {
    font-size: 20rem;
}
h2 {
    font-size: 18rem;
}
h3 {
    font-size: 16rem;
}

p {
    font-family: Georgia Times-New-Roman serif;
    font-size: 14rem;
}
