/*RESET DEFAULT BROWSER STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET*/


body {
    background-color: blue;
    margin: 0px;
}

.contentContainer {
    width:80%;
    max-width: 1800px;
    margin: auto;
}

header{
    max-width: 100%;
    min-width: 100%;
    padding: 0px;
    margin: 0px;
}

#HomeLogo{
    top: 0px;
    left: 0px;
    bottom: 0px;
    /*min-width: 100px;/*Questa deve variare a seconda della risoluzione*/
    width: 13%;
    /*min-height: 70px;/*questa deve variare a seconda della risoluzione*/
    vertical-align: bottom;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: deepskyblue;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}

#LandmarksWest{
    float: left;
}

#LandmarksEast{
    float: right;
}

#Landmark{
    background-color: white;
    font-family: DejaVu-Sans Verdana sans-serif;
    font-size: 15 rem;
    margin: 1px;
    padding: 1px;
    border: 1px rgb(50,50,70) solid;
    line-height: 1.1;
}

#Landmark:hover{
    color: (255,255,0);
    background-color: azure;
    border: 1px rgb(100,100,250) solid;
}

.navbar-default {
    background-color: aqua;
}

.navbar{
   min-height: 10px;/*This overrides the basic setting in Bootstrap, that is 50px*/
}


h1,h2,h3 {
    font-family: DejaVu-Sans Verdana sans-serif;
}

h1 {
    font-size: 20rem;
}
h2 {
    font-size: 18rem;
}
h3 {
    font-size: 16rem;
}

p {
    font-family: Georgia Times-New-Roman serif;
    font-size: 14;
}
