body {
    background-color: blue;
    margin: 0px;
}

header{
    max-width: 100%;
    min-width: 100%;
    padding: 0px;
    margin: 0px;
}

#Home{
    top: 0px;
    left: 0px;
    bottom: 0px;
    min-width: 100px;/*Questa deve variare a seconda della risoluzione*/
    width: 11%;
    min-height: 70px;/*questa deve variare a seconda della risoluzione*/
    height: 9%;
    vertical-align: bottom;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: deepskyblue;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}

#LandButtons li{
    display: inline;
}

#LandButtons{
    padding: 5px; /*questo deve variare a seconda della risoluzione*/
    margin: 0px;
    white-space: nowrap;
}

.Landmark{
    background-color: white;

}
