.projectDiv img{
    width:22%;
    float: left;
}

@media(max-width:768px){
   .projectDiv img{
        width:40%;
    }
}

.projectDiv{
    border: 1px grey dotted;
}

h3 {
    display: inline-block;
    text-align: center;
    width: 70%;
}
@media(max-width:768px){

h3 {
    width: 100%;
}
}
