h2 {
    display: inline-block;
    width: 64%;
    text-align: center;
}
@media(max-width:768px){
    h2 {
        width: 100%;
    }
}

.testimonialDiv {
    text-align: center;
}

.testimonialDiv img {
    max-width: 80%;
    border: 2px black outset;
}

@media (max-width:768px){
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size:1.3em;
    }
}
